<h1>New Article</h1>

<%# removed old form and moved to the partial _form file. 
    this is referenced by render ignoring the the _

    render calls form file, and article (in this case Article.new(params in form))

%>

<%= render "form", article: @article %>

